# Environment configuration for Industrial IoT Lakehouse project
ENV=DEV

# Datalake credentials (MinIO / Azure)
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_ACCESS_KEY=your_admin_user
STORAGE_SECRET_KEY=your_secure_password

# Local absolute paths (replace with your own)
LOCAL_LANDING_PYTHON=data/landing/predictive_maintenance.csv
LOCAL_LANDING_SPARK=file:///TU_RUTA_LOCAL/data/landing/predictive_maintenance.csv
LOCAL_BRONZE_PATH=file:///TU_RUTA_LOCAL/data/delta/bronze/telemetry
LOCAL_SILVER_PATH=file:///TU_RUTA_LOCAL/data/delta/silver/telemetry_clean
LOCAL_GOLD_HEALTH_PATH=file:///TU_RUTA_LOCAL/data/delta/gold/agg_device_health
LOCAL_GOLD_FAILURES_PATH=file:///TU_RUTA_LOCAL/data/delta/gold/fct_failures